@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sohne Fonts */
@font-face {
  font-family: "sohne";
  src: url(../public/fonts/Sohne.woff2);
}

/* segoe Fonts */
@font-face {
  font-family: "segoe", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu";
  src: url(../public/fonts/Segoe-UI/SegoeUI-Light.woff2);
}
@font-face {
  font-family: "segoe";
  src: url(../public/fonts/Segoe-UI/SegoeUI-Bold.woff2);
}
@font-face {
  font-family: "segoe";
  src: url(../public/fonts/Segoe-UI/SegoeUI-SemiBold.woff2);
}
@font-face {
  font-family: "segoe", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu";
  src: url(../public/fonts/Segoe-UI/SegoeUI.woff2);
}

@layer base {
  * {
    @apply font-segoe;
  }
}

/* CHECKBOX */

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input[type="checkbox"]::before {
  content: "\2713";
  font-size: 0.7rem;
  /* color: white; */
  transition: all 0.25s ease;
  scale: 0;
}
.checkbox input[type="checkbox"]:checked:before {
  scale: 1;
  color: white;
}
