@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "segoe";
  src: url(../public/fonts/Segoe-UI-Font/SEGOEUI.TTF);
}

@layer base {
  * {
    @apply font-segoe;
  }

  .form {
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, 0.08),
      0 5px 15px 0 rgba(0, 0, 0, 0.12);
  }

  .input:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  }

  .shadow-active:focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
      rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  }
}

/* CHECKBOX */

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.checkbox input[type="checkbox"]:focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.checkbox input[type="checkbox"]::before {
  content: "\2713";
  font-size: 0.7rem;
  /* color: white; */
  transition: all 0.25s ease;
  scale: 0;
}
.checkbox input[type="checkbox"]:checked:before {
  scale: 1;
  color: white;
}
